.checkbox-wrapper .switch {
  display: inline-block;
  height: 30px;
  position: relative;
  width: 50px;
}

.checkbox-wrapper .switch input {
  display: none;
}

.checkbox-wrapper .slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.2s;
}

.checkbox-wrapper .slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 22px;
  left: 4px;
  position: absolute;
  transition: 0.2s;
  width: 20px;
}

.checkbox-wrapper input:checked + .slider {
  background-color: #66bb6a;
}

.checkbox-wrapper input:checked + .slider:before {
  transform: translateX(22px);
}

.checkbox-wrapper .slider.round {
  border-radius: 34px;
}

.checkbox-wrapper .slider.round:before {
  border-radius: 50%;
}
